<div id="stylized" class="myform">
  <form id="form" name="form" method="get" action="<%= issues_redirect_path %>">
    <h1>Geirrod Repository Selector</h1>
    <p>Please enter the details for the repository you wish to view</p>

    <label>Account
      <span class="small">e.g. candera</span>
    </label>
    <input type="text" name="account" id="account" />

    <label>Repository
      <span class="small">e.g. geirrod</span>
    </label>
    <input type="text" name="repo" id="repo" />

    <button type="submit">Browse Issues</button>
    <div class="spacer"></div>

  </form>
</div>
